body{
    margin: 2rem;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../img/3692584.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
.dates{
    /*margin: 0;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 120px;
    background-color: #BDC3C7;
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding: 10PX;
}
.botones{
    /*margin: 0;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 150px;
    background-color: #BDC3C7;
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 0;
    flex-direction: column;
    /*margin: 2rem;*/

    padding: 0px;
    width: 600px; 
    text-align: center;
    margin: 0% 29% 2%;
    border-radius: 15px;
  }
.pedidos{
    background-color: #BDC3C7;
    text-align: center;
    height: 150px;
    width: 600px;
    text-align: center;
    margin: 0% 29% 2%;
    margin-top: 30px;
    border-radius: 15px;
  
}
.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}

  .bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
/*** ESTILOS BOTÓN SLIDE TOP ***/
.ov-btn-slide-top {
  text-decoration: none;
  background: #fff; /* color de fondo */
  color: #000000; /* color de fuente */
  border: 0.5px solid #BDC3C7; /* tamaño y color de borde */
  padding: 9px 13px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  
}
.ov-btn-slide-top:hover {
  color: #fff; /* color de fuente hover */
}
.ov-btn-slide-top::after {
  content: "";
  background: #acb5be; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-top:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

