:root {
    --color_primario: #bdc3c7;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

¨*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F3F4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
a{
    text-decoration: none;

}
ol,ul{
    list-style: none;
}
.header {
    height: var(--altura_header);
    background-color: var(--color_primario)

}
.navbar {
    height: 100%;
    display:flex;
    width: min(1200px, 100%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right);
}
.menu_hamburguesa{
    display: none;

}
.menu_hamburguesa:checked + .ul_links{ 
    height: calc(100vh - var( --altura_header));
}
.list_icon {
    cursor: pointer;
}
.ul_links {
    width: 100%;
    background-color: var(--color_primario);
    position: absolute;
    top: var(--altura_header);
    height: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 3rem;  

    transition: all .3s;
}
.link {
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
}
@media (min-width:768px){
    .labe_hamburguesa{
        display: none;
    }
    .ul_links{
        position: static;
        width:auto;
        height: auto;
        flex-direction: row;
        gap: 1rem;
    }
    .link{
        font-size: 1.2rem;
       transition: all .3s;
    }
    .link:hover{
         background-color: #95A5A6;
        padding: .2rem .7rem;
    }
}
.imagenes1{
   
    
    margin: 10px 10px;
    display: flex;
    margin-top :50px;
   
    
    
}

.imagenes2{
    margin: 10px 10px;
    display: flex;
    gap: 10%; 
    
    
}

.foto{
    width: 50%;
    margin: 10px 10px;
    border-radius: 30px;

}

.card{
    text-align: center;
    
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 40px; 
    border-radius: 30px;
    
}

.pagina2{
    margin: 50px 20px;
    text-align: center;
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    text-decoration: none;

}
.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

.ov-btn-slide-top {
    text-decoration: none;
    background: #fff; /* color de fondo */
    color: #000000; /* color de fuente */
    border: 0.5px solid #BDC3C7; /* tamaño y color de borde */
    padding: 9px 13px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    
  }
  .ov-btn-slide-top:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-top::after {
    content: "";
    background: #acb5be; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-top:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  





























